@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.897)), url("../img/cheeseburguer.jpg") no-repeat;
    background-size: cover;
    background-position: fixed;
    height: 100vh;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.header-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.795);
    padding: 35px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
}

.logo a {
    text-transform: uppercase;
    font-weight: bolder;
    color: orange;
    text-decoration: none;
    font-size: 2rem;
}

.nav-links ul {
    gap: 10px;
    display: flex;
}

.nav-item {
    list-style: none;
    padding: 10px 20px;
}

.nav-item a {
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.85rem;
    text-decoration: none;
    color: white;
    transition: color 0.2s ease;
}

.nav-item a:hover {
    color: orange;
    border-bottom: 1px solid orange;
}

.nav-destaque {
    background-color: orange;
    color: white;
    border: none;
}

.nav-destaque a:hover {
    color: black;
}

/* ========== SECTION 1 ========== */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 70px;
}

.content {
    width: 90%;
    margin-top: 80px;
}

.melhor-lanche h1 {
    width: 80%;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    color: orange;
}

.melhor-lanche p {
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

.horarios {
    margin: 0 auto;
    width: 80%;
    border-radius: 5px;
    margin-top: 20px;
    padding: 25px;
    border: 1px solid #2e2e2e93;
    text-align: center;
    display: flex;
}

.horarios p {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.cheese {
    margin: 0 auto;
    width: 80%;
    display: flex;
}

.cheese img {
    z-index: -100;
    filter: brightness(90%);
    width: 35%;
}

.action-cardapio {
    width: 100%;
    text-align: center;
}

.action-cardapio a {
    border-radius: 5px;
    margin: 20px 20px 0 20px;
    padding: 15px 90px;
    background-color: orange;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.action-cardapio a:hover {
    background-color: white;
    color: black;
}

/* ========== SECTION 2 ========== */

.quem-somos {
    border-top-left-radius: 10% 10%;
    border-top-right-radius: 10% 10%;
    width: 100%;
    background-color: orange;
    margin-top: 113px;
}

.content-descricao {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-descricao h2 {
    color: black;
    margin: 20px 0px 20px 0;
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.content-descricao p {
    color: black;
    padding: 15px;
    font-size: 1.15rem;
    width: 90%;
}

.redes {
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.nossa-rede {
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.541);
    border-radius: 10px;
    font-weight: bold;
    padding: 13px 50px;
    color: orange;
    background-color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nossa-rede:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.397);
    color: orange;
    background-color: black;
}

.numeros {
    background-color: black;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.178);
    color: white;
    padding: 20px;
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-weight: 800;
    text-transform: uppercase;
}

.content-diferenciais {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.content-pedido {
    width: 40%;
    padding: 15px;
}

.content-pedido h2 {
    color: orange;
    margin-bottom: 15px;
    font-size: 2.3rem;
    font-weight: bolder;
}

.content-pedido p {
    color: black;
    width: 80%;
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.content-pedido a {
    border-radius: 10px;
    padding: 18px 80px;
    background-color: orange;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    transition: 0.4s;
    box-shadow: 1px 1px 10px rgba(255, 166, 0, 0.705);
}

.content-pedido a:hover {
    box-shadow: 1px 1px 10px black;
    background-color: black;
    color: white;
}


