@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.753)), url("../img/cheeseburguer.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.header-container {
    z-index: 10;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.877);
    padding: 28px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
}

.logo a {
    font-family: 'Cinzel';
    text-transform: uppercase;
    font-weight: bolder;
    color: orange;
    text-decoration: none;
    font-size: 2rem;
}

.nav-links ul {
    gap: 10px;
    display: flex;
}

.nav-item {
    list-style: none;
    padding: 10px 20px;
}

.nav-item a {
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.85rem;
    text-decoration: none;
    color: white;
    transition: color 0.2s ease;
}

.nav-item a:hover {
    color: orange;
    border-bottom: 1px solid orange;
}

.nav-destaque {
    background-color: orange;
    color: white;
    border: none;
    transition: 0.5s;
}

.nav-destaque a:hover {
    color: black;
}

/* ========== INÍCIO ========== */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.content {
    width: 90%;
    margin-top: 90px;
}

.melhor-lanche h1 {
    width: 80%;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 2.2rem;
    color: orange;
}

.melhor-lanche p {
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

.horarios {
    margin: 0 auto;
    width: 80%;
    border-radius: 5px;
    margin-top: 20px;
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 0.527);
    text-align: center;
    display: flex;
}

.horarios p {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.cheese {
    margin: 0 auto;
    width: 80%;
    display: flex;
}

.cheese img {
    z-index: -100;
    filter: brightness(90%);
    width: 35%;
}

.action-cardapio {
    text-align: center;
}

.action-cardapio a {
    z-index: -100;
    border-radius: 10px;
    padding: 15px 90px;
    margin: 15px;
    background-color: orange;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 1px 1px 10px rgba(255, 166, 0, 0.61);
}

.action-cardapio a:hover {
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.61);
    background-color: white;
    color: black;
}

/* ========== QUEM SOMOS ========== */

.quem-somos {
    width: 100%;
    background-color: orange;
    margin-top: 113px;
}

.content-descricao {
    width: 85%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-descricao h2 {
    font-family: 'Playfair Display', 'Arial';
    color: black;
    margin: 20px 0px 20px 0;
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.content-descricao p {
    font-family: 'Arial';
    color: black;
    padding: 30px;
    font-size: 1.15rem;
    width: 90%;
}

.redes {
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.nossa-rede {
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.541);
    border-radius: 10px;
    font-weight: bold;
    padding: 13px 50px;
    color: orange;
    background-color: white;
    text-decoration: none;
    transition: 0.4s;
}

.nossa-rede:hover {
    transform: scale(1.06);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.397);
    color: orange;
    background-color: black;
}

.numeros {
    background-color: black;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.178);
    color: white;
    padding: 20px;
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-weight: 800;
    text-transform: uppercase;
}

.content-diferenciais {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.content-pedido {
    width: 40%;
    padding: 15px;
}

.content-pedido h2 {
    color: orange;
    margin-bottom: 15px;
    font-size: 2.3rem;
    font-weight: bolder;
}

.content-pedido p {
    color: black;
    width: 80%;
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.pedir-whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 10px;
    padding: 18px 80px;
    background-color: orange;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    transition: 0.4s;
    box-shadow: 1px 1px 10px rgba(255, 166, 0, 0.705);
}

.pedir-whatsapp:hover {
    transform: scale(1.06);
    box-shadow: 1px 1px 10px black;
    background-color: black;
    color: white;
}

/* ========== UNIDADES ========== */

.content-unidades {
    padding: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.671)), url("../img/juicy-cheeseburger-fund.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.titulo-unidade {
    font-family: 'Playfair Display', 'Arial';
    font-size: 3rem;
    text-align: center;
    color: orange;
}

.unidade {
    margin: 0 auto;
    width: 80%;
    margin-top: 100px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.item-unidade {
    border-radius: 15px;
    border: 1px solid white;
    padding: 20px;
    color: white;
    transition: 0.3s;
}

.item-unidade:hover {
    transform: translateY(-10px);
    color: white;
    background-color: black;
}

.item-unidade h3 {
    color: orange;
    padding: 20px;
    font-size: 1.3rem;
    text-align: center;
}

.item-unidade div {
    padding: 20px 0 20px 0;
}

.action-unidade {
    box-shadow: 1px 1px 10px rgba(255, 166, 0, 0.527);
    border-radius: 10px;
    background-color: orange;
    padding: 12px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

.action-unidade:hover {
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.548);
    background-color: white;
    color: black;
}

/* ========== CARDAPIO ========== */

.cardapio {
    padding: 50px;
    width: 100%;
    background-color: #1A1A1A;
}

.text-cardapio {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-cardapio h3 {
    font-weight: bolder;
    color: white;
    font-family: 'Playfair Display', 'Arial';
    font-size: 4rem;
    padding: 50px;
}

.content-cardapio {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    flex-wrap: wrap;
}

.card-cardapio {
    border: 1px solid orange;
    width: 20%;
    height: 525px;
    box-shadow: 1px 1px 10px rgba(49, 49, 49, 0.342);
    margin: 25px;
    padding: 15px;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 5px;
}

.card-cardapio:hover {
    transform: translateY(-10px);
    box-shadow: 1px 1px 15px rgba(255, 166, 0, 0.432);
}

.position-titulo-burguer {
    text-align: center;
    width: 100%;
}

.position-titulo-burguer h4 {
    color: orange;
    font-size: 1.5rem;
    font-family: 'Playfair Display', 'Arial';
}

.card-cardapio img {
    max-width: 80%;
}

.descricao-card {
    font-size: 1rem;
    max-width: 100%;
    text-align: center;
    color: white;
}

.descricao-card p {
    padding: 15px;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 35px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    background-color: orange;
    padding: 12px 20px;
    border-radius: 10px;
    transition: 0.4s;
    border: 2px solid orange;
}

.price:hover {
    color: white;
    border: 2px solid white;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.37);
    width: 83%;
}

/* ========== CONTATO ========== */

.contato {
    padding: 55px;
    width: 100%;
    background-color: orange;
}

.content-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-contato h4 {
    margin-top: 25px;
    font-size: 4rem;
    color: black;
    padding: 10px;
    font-family: 'Playfair Display', 'Arial';
}

.content-contato p {
    font-size: 1.1rem;
}

.contatos {
    gap: 20px;
    padding: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-contato {
    border-radius: 10px;
    background-color: #262626;
    box-shadow: 1px 1px 5px #262626;
    color: white;
    width: 100%;
    height: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.card-contato:hover {
    transform: translateY(-15px);
    box-shadow: 1px 1px 10px #000000;
}

.card-contato h4 {
    font-family: 'Playfair Display', 'Arial';
    font-size: 1.3rem;
    color: orange;
}

.card-contato p {
    margin: 10px;
}

.card-contato a {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: orange;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    box-shadow: 1px 1px 15px rgba(255, 166, 0, 0.452);
    margin-top: 80px;
    transition: 0.4s;
}

.card-contato a:hover {
    color: black;
    background-color: white;
    box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.507);
}

.endereco {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.maps {
    transition: 0.5s;
    margin-bottom: 70px;
}

.maps h4 {
    padding: 15px;
    font-family: 'Playfair Display', 'Arial';
    text-align: center;
    font-size: 2rem;
}

.maps iframe {
    border-radius: 12px;
}

.content-endereco {
    display: flex;
    justify-content: center;
    align-items: center;
}

.endereco-burguer {
    border-radius: 12px;
    background-color: #262626;
    box-shadow: 1px 1px 15px #262626;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    height: 350px;
    padding: 50px;
    margin: 70px;
    transition: 0.3s;
}

.endereco-burguer:hover {
    box-shadow: 1px 1px 20px #000000;
}

.endereco-burguer h4 {
    font-family: 'Playfair Display', 'Arial';
    color: orange;
    text-align: center;
    font-size: 2rem;
    padding: 25px;
}