@media (max-width: 600px){
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.85)), url("../img/burguer-fund.jpg") no-repeat center;
        background-size: cover;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px;
    }

    .logo a {
        margin: 13px;
        font-size: 1.3rem;
    }

    .nav-links {
        margin-top: 10px;
    }

    .nav-item {
        padding: 0px;
    }

    .nav-item a {
        font-size: 0.6rem;
        padding: 0px;
        margin: 5px;
    }

    .nav-destaque {
        background-color: rgba(255, 166, 0, 0);
    }

    .nav-destaque a:hover {
        color: orange;
        border-bottom: 1px solid orange;
    }

    .melhor-lanche h1 {
        width: 100%;
        margin: 0 auto;
        font-size: 1.15rem;
        color: orange;
    }

    .melhor-lanche p {
        font-size: 1rem;
    }

    .horarios {
        padding: 10px;
        margin-bottom: 50px;
        width: 100%;
    }

    .horarios p {
        margin: 15px;
        font-size: 0.6rem;
    }

    .cheese {
        margin: 0 auto;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cheese img {
        filter: brightness(90%);
        width: 50%;
    }

    .action-cardapio {
        width: 100%;
        margin-top: 30px;
    }

    .action-cardapio a {
        margin: 5px;
        padding: 7px 15px;
    }

}