@media (max-width: 600px){
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.85)), url("../img/bacon-cheeseburger-fund.jpg") no-repeat top center;
        background-size: cover;
    }

    /* ======================= HEADER ======================= */

    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px;
    }

    .logo a {
        margin: 13px;
        font-size: 1.3rem;
    }

    .nav-links {
        margin-top: 10px;
    }

    .nav-item {
        padding: 0px;
    }

    .nav-item a {
        font-size: 0.6rem;
        padding: 0px;
        margin: 5px;
    }

    .nav-destaque {
        background-color: rgba(255, 166, 0, 0);
    }

    .nav-destaque a:hover {
        color: orange;
        border-bottom: 1px solid orange;
    }

    .melhor-lanche h1 {
        width: 100%;
        margin: 0 auto;
        font-size: 1.15rem;
        color: orange;
    }

    .melhor-lanche p {
        font-size: 1rem;
    }

    .horarios {
        padding: 10px;
        margin-bottom: 50px;
        width: 100%;
    }

    .horarios p {
        margin: 15px;
        font-size: 0.6rem;
    }

    .cheese {
        margin: 0 auto;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cheese img {
        filter: brightness(90%);
        width: 50%;
    }

    .action-cardapio {
        width: 100%;
        margin-top: 30px;
    }

    .action-cardapio a {
        margin: 5px;
        padding: 7px 15px;
    }


    /* ======================= QUEM SOMOS ======================= */
    
    .quem-somos {
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        width: 100%;
        background-color: orange;
        margin-top: 113px;
    }

    .content-descricao {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-descricao h2 {
        font-size: 2rem;
    }

    .content-descricao p {
        width: 100%;
        font-size: 1rem;
    }

    .numeros {
        font-size: 1.2rem;
    }

    .redes {
        padding-bottom: 10px;
        gap: 15px;
    }

    .nossa-rede {
        padding: 8px 16px;
    }

    .content-diferenciais {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: white;
    }

    .diferencial-img {
        display: flex;
        width: 70%;
        margin: 0 auto;
    }

    .content-pedido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .content-pedido h2 {
        width: 90%;
        text-align: center;
        color: orange;
        margin-bottom: 15px;
        font-size: 1.6rem;
        font-weight: bolder;
    }

    .content-pedido p {
        text-align: center;
        width: 90%;
        font-size: 1.1rem;
        margin-top: 15px;
    }

    .pedir-whatsapp {
        width: 60%;
        padding: 10px 20px;
        margin-bottom: 25px;
    }


    /* ======================= NOSSAS UNIDADES ======================= */

    .content-unidades {
        padding: 10px;
        background: linear-gradient(rgba(0, 0, 0, 0.767)), url("../img/bacon-cheeseburger-fund.jpg") no-repeat top center;
        background-size: cover;
        background-attachment: fixed;
    }

    .titulo-unidade {
        margin-top: 35px;
        font-size: 2rem;
    }

    .unidade {
        width: 100%;
        margin-top: 60px;
        gap: 30px;
    }

    .item-unidade {
        padding: 20px;
    }

    .item-unidade h3 {
        padding: 20px;
        font-size: 1.3rem;
    }

    .item-unidade div {
        padding: 40px 0 40px 0;
    }

    .action-unidade {
        padding: 12px 20px;
    }

    /* ======================= CARDÁPIO ======================= */

    .cardapio {
        width: 100%;
    }

    .text-cardapio {
        padding: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-cardapio h3 {
        font-size: 2.4rem;
        padding: 25px;
    }

    .content-cardapio {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }

    .card-cardapio {
        margin: 20px auto;
        width: 100%;
        height: 500px;
        box-shadow: 1px 1px 10px rgba(49, 49, 49, 0.342);
        padding: 5px;
    }

    /* ======================= CONTATO ======================= */

    .contato {
        padding: 55px;
        width: 100%;
    }

    .content-contato {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-contato h4 {
        font-size: 2.7rem;
    }

    .content-contato p {
        text-align: center;
        font-size: 1.1rem;
    }

    .contatos {
        margin-top: 50px;
        gap: 30px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .card-contato {
        color: white;
        width: 100%;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-contato-img img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .card-contato:hover {
        transform: translateY(0);
    }

    .card-contato h4 {
        font-size: 1.5rem;
    }

    .card-contato p {
        margin: 10px;
        text-align: center;
    }

    .endereco {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .maps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 50px;
    }

    .maps h4 {
        padding: 15px;
        text-align: center;
        font-size: 2rem;
    }

    .maps iframe {
        width: 80%;
    }

    .content-endereco {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .endereco-burguer {
        width: 80%;
        height: 350px;
        margin: 0 70px 0 70px;
        transition: 0.3s;
    }

}